<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{{ url_for('static', filename='main_global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main_index.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="desktop-1">
      <div class="desktop-1-child"></div>
      <img class="desktop-1-item" alt="" src="{{ url_for('static', filename='public/rectangle-2.svg') }}" />

      <div class="home">Home</div>
      <div class="about">About</div>
      <div class="resources">Resources</div>
      <div class="contact">Contact</div>
      <img
        class="chevron-up-solid-1-icon"
        alt=""
        src="{{ url_for('static', filename='public/chevronupsolid-1.svg') }}"
      />

      <img class="vector-icon" alt="" src="{{ url_for('static', filename='public/vector.svg') }}" />

      <div class="tinnitus-mitigated">Tinnitus, mitigated.</div>
      <div class="an-easy-to-use-low-container">
        <p class="an-easy-to-use-low">
          An easy-to-use, low cost sound therapy tool to reduce perception of
          tinnitus.
        </p>
      </div>
      <img
        class="circle-solid-1-icon"
        alt=""
        src="{{ url_for('static', filename='public/circlesolid-1.svg') }}"
      />

      <img
        class="circle-solid-3-icon"
        alt=""
        src="{{ url_for('static', filename='public/circlesolid-3.svg') }}"
      />

      <img
        class="circle-solid-2-icon"
        alt=""
        src="{{ url_for('static', filename='public/circlesolid-2.svg') }}"
      />

      <img
        class="ear-listen-solid-1-icon"
        alt=""
        src="{{ url_for('static', filename='public/earlistensolid-1.svg') }}"
      />

      <div class="sekhmet">Sekhmet</div>
      <img class="vector-icon1" alt="" src="{{ url_for('static', filename='public/vector1.svg') }}" />

      <img class="vector-icon2" alt="" src="{{ url_for('static', filename='public/vector2.svg') }}" />
    </div>
  </body>
</html>
